:root {
    --main-font-size: 1rem;
    --svg-size: clamp(16px, var(--main-font-size), 18px);
    --side-menu: clamp(10px, var(--main-font-size), 18px);
    --side-title: clamp(16px, calc(1rem + 6px), 22px);
    --logo-svg: clamp(16px, 1.5rem, 30px);
    --card-title-font-size: clamp(10px, 1rem, 22px);
    --card-text-font-size: clamp(7px, calc(1rem - 2px), 16px);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 16px;
    width: 100%;
}

.page-grid {
    display: grid;
    grid-template-columns: minmax(calc(var(--main-font-size) + 185px), .75fr) 4fr;
    font-family: "Roboto", sans-serif;
}

.sidebar {
    color: white;
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-weight: 700;
    padding: 20px;
    display: grid;
    grid-template-columns: var(--logo-svg) 1fr;
    row-gap: 15px;
    column-gap: 8px;
    align-items: center;
    grid-auto-rows: var(--logo-svg);
}

.side-menu-item {
    display: contents;
}

.item-icon svg {
    width: var(--svg-size);
    height: auto;
    fill: white;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-dashboard svg {
    width: var(--logo-svg);
    height: var(--logo-svg);
    fill: white;
}

.text-container {
    font-size: var(--side-menu);
    color: white;
    white-space: nowrap;
}

.group-start::before {
    content: '';
    display: block;
    grid-column: 1 / 3;
}

.title {
    font-size: var(--side-title);
    color: white;
}

.header {
    background-color: rgb(255, 255, 255);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 10px 20px;
    box-shadow: 0 12px 4px -4px rgba(0, 0, 0, 0.995);
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 30px 20px 30px 20px;
    gap: 20px;
}

.main-ctn {
    background-color: #e2e8f0;
}

.header-top-row,
.header-bottom-row,
.user {
    display: flex;
    align-items: center;
    gap: 15px;
}


.icon-btn {
    width:var(--svg-size);
    height: var(--svg-size);
    margin: 0;
    background-color: transparent;
    border: none;
}

.header svg {
    width: 100%;
    height: 100%;
}

.searchbar {
    flex: 0 1 65%;
    border: none;
    margin-left: -8px;
    background-color: #e2e8f0;
    border-radius: 20px;
    height: min(calc(var(--main-font-size) + 20px), 30px);
    padding: 2px 10px;
}

.notifications {
    margin-left: auto;
}

.user {
    font-size: var(--side-menu);
    color: black;
    font-weight: 500;
    gap: 8px;
}

.user-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.side-menu-item,
.user,
.trend,
.announcement {
    text-decoration: none;
}

.header-bottom-row {
    justify-content: space-between;
    margin-top: 15px;
}


.greeting-logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.user-greetings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-right: auto;
}

.greeting-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.greeting-name {
    font-size: var(--side-title);
    font-weight: 600;
}

.greeting {
    font-size: clamp(7px, calc(var(--main-font-size) - 4px), var(--main-font-size));
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons button {
    border: none;
    background-color: #1992d4;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 72px;
    height: 28px;
    border-radius: 20px;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px 15px 15px;
    border-radius: 5px;
    border-left: 5px solid orange;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card-title,
.section-title  {
    font-size: var(--card-title-font-size);
    font-weight: 600;
}

.card-text {
    font-size: var(--card-text-font-size);
    font-weight: 400;
    color: #606060;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects,
.announcements-container,
.trending-container {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 24px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    grid-auto-rows: minmax(50px, 1fr);
    gap: 15px;
}

.announcements-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card-btns {
    display: flex;
    align-self: flex-end;
    gap: 15px;
}

.card-btns button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.card svg {
    width: 100%;
    height: 100%;
}

.announcements-grid,
.trending-grid {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-content: start;
    align-content: start;
}

.announcement-title {
    color: black;
    font-weight: 500;
    font-size: var(--card-title-font-size);
}

.announcement-text {
    color: #606060;
    font-size: var(--card-text-font-size);
    font-weight: 400;
    margin-top: 5px;
}

a.announcement:nth-child(even) {
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
    padding-top: 10px;
    padding-bottom: 10px;
}

.trend-name {
    font-size: var(--card-title-font-size);
    color: black;
    font-weight: 400;
}

.trend-signature {
    font-size: var(--card-text-font-size);
    color: #606060;
    font-weight: 400;
}

.trend {
    display: flex;
    gap: 10px;
}

.trend > img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
